In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
computers=pd.read_csv("Computer_Data.csv")
computers.head()

   Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads  trend
0           1   1499     25   80    4      14  no    no     yes   94      1
1           2   1795     33   85    2      14  no    no     yes   94      1
2           3   1595     25  170    4      15  no    no     yes   94      1
3           4   1849     25  170    8      14  no    no      no   94      1
4           5   3295     33  340   16      14  no    no     yes   94      1

In [3]:
A=computers.iloc[:,1:]
A

      price  speed    hd  ram  screen   cd multi premium  ads  trend
0      1499     25    80    4      14   no    no     yes   94      1
1      1795     33    85    2      14   no    no     yes   94      1
2      1595     25   170    4      15   no    no     yes   94      1
3      1849     25   170    8      14   no    no      no   94      1
4      3295     33   340   16      14   no    no     yes   94      1
...     ...    ...   ...  ...     ...  ...   ...     ...  ...    ...
6254   1690    100   528    8      15   no    no     yes   39     35
6255   2223     66   850   16      15  yes   yes     yes   39     35
6256   2654    100  1200   24      15  yes    no     yes   39     35
6257   2195    100   850   16      15  yes    no     yes   39     35
6258   2490    100   850   16      17  yes    no     yes   39     35

[6259 rows x 10 columns]

In [4]:
A.shape

(6259, 10)

In [5]:
A.isnull().sum()

price      0
speed      0
hd         0
ram        0
screen     0
cd         0
multi      0
premium    0
ads        0
trend      0
dtype: int64

In [6]:
A.corr()['price']

price     1.000000
speed     0.300976
hd        0.430258
ram       0.622748
screen    0.296041
ads       0.054540
trend    -0.199987
Name: price, dtype: float64

In [7]:
Y=A.iloc[:,0:1]
Y

      price
0      1499
1      1795
2      1595
3      1849
4      3295
...     ...
6254   1690
6255   2223
6256   2654
6257   2195
6258   2490

[6259 rows x 1 columns]

In [8]:
X=A.iloc[:,1:]
X

      speed    hd  ram  screen   cd multi premium  ads  trend
0        25    80    4      14   no    no     yes   94      1
1        33    85    2      14   no    no     yes   94      1
2        25   170    4      15   no    no     yes   94      1
3        25   170    8      14   no    no      no   94      1
4        33   340   16      14   no    no     yes   94      1
...     ...   ...  ...     ...  ...   ...     ...  ...    ...
6254    100   528    8      15   no    no     yes   39     35
6255     66   850   16      15  yes   yes     yes   39     35
6256    100  1200   24      15  yes    no     yes   39     35
6257    100   850   16      15  yes    no     yes   39     35
6258    100   850   16      17  yes    no     yes   39     35

[6259 rows x 9 columns]

In [9]:
S=pd.get_dummies(X)
S

,speed,hd,ram,screen,ads,trend,cd_no,cd_yes,multi_no,multi_yes,premium_no,premium_yes
0,25,80,4,14,94,1,1,0,1,0,0,1
1,33,85,2,14,94,1,1,0,1,0,0,1
2,25,170,4,15,94,1,1,0,1,0,0,1
3,25,170,8,14,94,1,1,0,1,0,1,0
4,33,340,16,14,94,1,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6254,100,528,8,15,39,35,1,0,1,0,0,1
6255,66,850,16,15,39,35,0,1,0,1,0,1
6256,100,1200,24,15,39,35,0,1,1,0,0,1
6257,100,850,16,15,39,35,0,1,1,0,0,1
6258,100,850,16,17,39,35,0,1,1,0,0,1

In [13]:
C=X.drop(X.columns[[4,5,6]],axis=1)
C

      speed    hd  ram  screen  ads  trend
0        25    80    4      14   94      1
1        33    85    2      14   94      1
2        25   170    4      15   94      1
3        25   170    8      14   94      1
4        33   340   16      14   94      1
...     ...   ...  ...     ...  ...    ...
6254    100   528    8      15   39     35
6255     66   850   16      15   39     35
6256    100  1200   24      15   39     35
6257    100   850   16      15   39     35
6258    100   850   16      17   39     35

[6259 rows x 6 columns]

In [14]:
from sklearn.model_selection import train_test_split
S_train,S_test,Y_train,Y_test=train_test_split(S,Y,test_size=0.2,random_state=0)
S_train

,speed,hd,ram,screen,ads,trend,cd_no,cd_yes,multi_no,multi_yes,premium_no,premium_yes
3075,25,528,16,14,267,15,0,1,1,0,0,1
4129,100,420,8,17,225,19,0,1,1,0,0,1
4016,66,340,4,14,225,19,0,1,1,0,0,1
5143,33,1000,8,14,182,24,0,1,1,0,0,1
6258,100,850,16,17,39,35,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4931,33,1000,24,17,191,23,0,1,1,0,0,1
3264,50,212,8,17,307,16,0,1,0,1,0,1
1653,33,528,16,14,283,10,1,0,1,0,0,1
2607,66,340,8,17,292,14,1,0,1,0,1,0
2732,50,424,4,14,292,14,1,0,1,0,0,1

In [15]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(S_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
Y_pred=regression.predict(S_test)
Y_pred

array([[2034.51378357],
       [2383.83139312],
       [2226.49359863],
       ...,
       [2553.44562257],
       [1825.60261213],
       [2324.44663964]])

In [17]:
from sklearn.metrics import r2_score
score=r2_score(Y_pred,Y_test)
score

0.7171191755366289

In [18]:
from sklearn.model_selection import train_test_split
S_train,S_test,Y_train,Y_test=train_test_split(np.sqrt(S),Y,test_size=0.2,random_state=0)
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(S_train,Y_train)
Y_pred=regression.predict(S_test)
Y_pred
from sklearn.metrics import r2_score
score=r2_score(Y_pred,Y_test)
score

0.7389053617086871

In [19]:
from sklearn.model_selection import train_test_split
S_train,S_test,Y_train,Y_test=train_test_split((S),np.sqrt(Y),test_size=0.2,random_state=0)
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(S_train,Y_train)
Y_pred=regression.predict(S_test)
Y_pred
from sklearn.metrics import r2_score
score=r2_score(Y_pred,Y_test)
score

0.7374360069901451

In [20]:
from sklearn.model_selection import train_test_split
S_train,S_test,Y_train,Y_test=train_test_split((S),np.log(Y),test_size=0.2,random_state=0)
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(S_train,Y_train)
Y_pred=regression.predict(S_test)
Y_pred
from sklearn.metrics import r2_score
score=r2_score(Y_pred,Y_test)
score

0.7359282730981265