In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
toyoto=pd.read_csv("ToyotaCorolla.csv")
toyoto

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,...,1,1,1,0,1,1,1,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,...,0,0,1,0,0,1,1,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,...,0,0,1,0,0,0,1,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,...,0,0,0,0,0,0,1,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
A=toyoto.drop(toyoto.columns[[0,1,4,5,7,9,10,11,14,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37]],axis=1)
A

      Price  Age_08_04     KM   HP    cc  Doors  Gears  Quarterly_Tax  Weight
0     13500         23  46986   90  2000      3      5            210    1165
1     13750         23  72937   90  2000      3      5            210    1165
2     13950         24  41711   90  2000      3      5            210    1165
3     14950         26  48000   90  2000      3      5            210    1165
4     13750         30  38500   90  2000      3      5            210    1170
...     ...        ...    ...  ...   ...    ...    ...            ...     ...
1431   7500         69  20544   86  1300      3      5             69    1025
1432  10845         72  19000   86  1300      3      5             69    1015
1433   8500         71  17016   86  1300      3      5             69    1015
1434   7250         70  16916   86  1300      3      5             69    1015
1435   6950         76      1  110  1600      5      5             19    1114

[1436 rows x 9 columns]

In [21]:
Y=A.iloc[:,:1]
Y

      Price
0     13500
1     13750
2     13950
3     14950
4     13750
...     ...
1431   7500
1432  10845
1433   8500
1434   7250
1435   6950

[1436 rows x 1 columns]

In [22]:
X=A.iloc[:,1:]
X

      Age_08_04     KM   HP    cc  Doors  Gears  Quarterly_Tax  Weight
0            23  46986   90  2000      3      5            210    1165
1            23  72937   90  2000      3      5            210    1165
2            24  41711   90  2000      3      5            210    1165
3            26  48000   90  2000      3      5            210    1165
4            30  38500   90  2000      3      5            210    1170
...         ...    ...  ...   ...    ...    ...            ...     ...
1431         69  20544   86  1300      3      5             69    1025
1432         72  19000   86  1300      3      5             69    1015
1433         71  17016   86  1300      3      5             69    1015
1434         70  16916   86  1300      3      5             69    1015
1435         76      1  110  1600      5      5             19    1114

[1436 rows x 8 columns]

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [27]:
from sklearn.linear_model import LinearRegression
regression =LinearRegression()
regression.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
Y_pred=regression.predict(X_test)
Y_pred

array([[  8289.00989761],
       [ 10517.00227458],
       [ 13010.62249525],
       [  7666.59565964],
       [ 10486.85157172],
       [  9543.83761434],
       [  6140.54309673],
       [ 16218.43461912],
       [ 11289.50320063],
       [ 10499.55956515],
       [  6892.07503332],
       [ 11225.26152065],
       [ 11819.05103356],
       [  9744.70733583],
       [  7432.58073235],
       [ 16111.6904235 ],
       [ 11172.05530272],
       [  7751.05713284],
       [ 12849.54494109],
       [  8517.49260731],
       [  6731.21370831],
       [  6053.79422239],
       [ 11666.32453884],
       [ 13024.82869167],
       [ 18991.78700912],
       [  7748.67795319],
       [ 14050.56271239],
       [  5742.6420702 ],
       [  9247.59361867],
       [  7885.91721339],
       [ 10609.45948513],
       [  7647.10104603],
       [ 16093.33535528],
       [  7226.74259339],
       [ 11013.83351372],
       [ 12532.57344748],
       [  9733.86372719],
       [ 12230.38535853],
       [  9782.11319778],
       [  9006.26229866],
       [  8847.4316154 ],
       [ 10623.30833283],
       [  9952.96082256],
       [ 17009.32351221],
       [ 10970.31232733],
       [  7067.03665243],
       [  9631.07878066],
       [  7338.8582724 ],
       [  8442.50662215],
       [  8772.59620319],
       [ 19094.17534683],
       [  8457.36217944],
       [  7194.09241954],
       [  6534.06375436],
       [ 11461.17830879],
       [ 18149.56886592],
       [ 13550.94754824],
       [ 10115.10968813],
       [ 18934.58146656],
       [ 11003.19962371],
       [  6518.57558073],
       [  7846.05574485],
       [ 11078.82962822],
       [ 12211.31396202],
       [ 10417.14254558],
       [ 13971.77419767],
       [  8313.69962863],
       [  6862.94437021],
       [ 17479.78192171],
       [ 10703.28795301],
       [  9832.4566524 ],
       [  8634.14060243],
       [ 13337.01439809],
       [  6214.84389719],
       [ 14768.66543798],
       [ 13188.1183846 ],
       [ 10774.69865379],
       [  6847.36934321],
       [  8153.14982913],
       [  8132.8056532 ],
       [  6816.54385204],
       [  8692.14457005],
       [  6076.71471512],
       [ 11762.213872  ],
       [ 11964.88603183],
       [ 10576.04504442],
       [ 11467.74464783],
       [ 12404.42554236],
       [  7956.82485898],
       [  9531.58497771],
       [  6405.56505603],
       [ 10333.84481017],
       [ 16569.70104164],
       [ 12803.80217423],
       [  8115.94121141],
       [ 12175.85096892],
       [ 15437.03619568],
       [ 10013.11295027],
       [ 13445.77692812],
       [  7564.71160881],
       [  8346.46601436],
       [ 11804.02654396],
       [ 11859.0702931 ],
       [  8289.78874059],
       [  8319.41980574],
       [ 18264.00623027],
       [ 18214.60197455],
       [  8233.36468439],
       [ 14277.95740019],
       [  8660.25583886],
       [ 13576.44834575],
       [  9201.93161332],
       [ 10430.90583664],
       [  9488.90090203],
       [ 13183.40316551],
       [  9175.30518022],
       [  9284.32877458],
       [ 12593.49625115],
       [  9378.2879043 ],
       [  8179.58099285],
       [ 17068.6213396 ],
       [  7418.41435855],
       [ 14001.48710014],
       [ 10127.27876468],
       [  8014.41575974],
       [ 20384.67738104],
       [  7049.82079407],
       [ 10145.54965164],
       [  9309.27944674],
       [ 10385.09166383],
       [ 17109.63627326],
       [  9033.99233192],
       [ 11305.68893645],
       [  9915.16138874],
       [ 19432.5270058 ],
       [ 11110.22659695],
       [ 12475.18253814],
       [ 12966.64395975],
       [ 10292.86333918],
       [ 13531.45830652],
       [ 15695.80561325],
       [ 10293.73289717],
       [  8752.26783922],
       [  7823.91444854],
       [  9178.61463405],
       [ 17368.90166683],
       [ 10468.4021104 ],
       [ 12705.2901543 ],
       [ 11079.18403263],
       [ 12364.96159243],
       [  7831.81411718],
       [ 13376.87346731],
       [ 10097.52862879],
       [  6860.03012389],
       [ 11133.81874347],
       [ 14846.230952  ],
       [ 10171.25016816],
       [  9743.40160463],
       [  7650.20007404],
       [  8546.07582597],
       [  7989.07559715],
       [  9160.86184696],
       [  8425.62804725],
       [ 14989.82669193],
       [ 11163.9630817 ],
       [  8819.64766316],
       [ 19690.82314391],
       [  9174.25086663],
       [  9061.07416386],
       [ 15632.94224767],
       [  9944.05463315],
       [ 10661.17112729],
       [  9861.12594884],
       [  8207.51890572],
       [  8130.45047304],
       [ 10723.76030352],
       [  8743.18464672],
       [ 12917.8681954 ],
       [ 16840.53533951],
       [ 10708.39057977],
       [ 11430.81321285],
       [  9254.79489873],
       [  7753.47071305],
       [ 15754.41220988],
       [ 12687.18030075],
       [  9200.92811773],
       [  9468.77522808],
       [ 16658.99852249],
       [ 16205.54726564],
       [  6844.26944661],
       [ 10006.5191794 ],
       [  8260.25325507],
       [ 10048.82736907],
       [ 12448.62723147],
       [ 10353.17725083],
       [  7745.42831499],
       [ 17731.89904117],
       [  7571.50842307],
       [  7633.22494943],
       [  5252.78027336],
       [  9613.41587046],
       [ 12283.04421388],
       [ 13369.3844084 ],
       [ 15491.96321484],
       [ 11151.20580559],
       [  9892.27392633],
       [ 12518.90642242],
       [ 10649.25169261],
       [  8733.36620804],
       [  6411.2753897 ],
       [ 13575.42109324],
       [  8442.91511413],
       [  8555.05611141],
       [  7070.10034492],
       [  7068.45263604],
       [ 16132.67756993],
       [ 19836.45395216],
       [ 10842.58462897],
       [  8168.26617601],
       [ 12176.97138383],
       [  7588.31766187],
       [  7705.45371093],
       [ 10714.84227827],
       [  8417.51820725],
       [ 13541.06380995],
       [ 10585.8692566 ],
       [  9986.03629097],
       [ 17396.65533454],
       [ 10850.70097461],
       [ 10814.318714  ],
       [  8477.72310648],
       [ 10451.46421521],
       [ 10447.70352005],
       [ 14334.15551932],
       [  6974.32653792],
       [  9409.71925677],
       [  7487.45042112],
       [  7021.49083215],
       [  8507.64847496],
       [ 13531.96400792],
       [ 11076.26423067],
       [  9266.90836006],
       [  6910.83831992],
       [  9042.84226038],
       [-10990.45289327],
       [  7720.61628188],
       [ 11759.12947836],
       [ 11231.77682174],
       [ 10387.84253645],
       [  9172.55560802],
       [  8417.2076133 ],
       [  8759.88115438],
       [ 12223.07327341],
       [ 10337.39375694],
       [ 15153.59500111],
       [  8893.59828862],
       [  9581.2738884 ],
       [ 16163.8347684 ],
       [  8414.89570146],
       [  9422.98615003],
       [ 19885.58494044],
       [ 10173.15571357],
       [ 15347.80008183],
       [  8981.95854431],
       [ 15963.39677196],
       [ 10066.03893464],
       [ 16511.01029951],
       [  8435.32074927],
       [  7625.81036923],
       [ 10397.93338087],
       [ 12239.8318118 ],
       [  9988.63505818],
       [ 11345.84181474],
       [ 11939.61146604],
       [  8851.03747819],
       [ 17459.02788076],
       [ 20098.13864133],
       [  6543.9929648 ],
       [  8532.75593139],
       [ 13201.81016848],
       [  7416.95091865],
       [  8960.31721919],
       [  7226.31234374],
       [ 11406.05003142],
       [ 10421.95813933],
       [ 10104.78231205],
       [ 12776.9622741 ],
       [  7322.20432213]])

In [31]:
from sklearn.metrics import r2_score
score=r2_score(Y_pred,Y_test)
score

0.5901949356413427